.Rproj.user
.Rhistory
.RData
.Ruserdata
/_prepro/**/*.csv
/_infovis/**/*.csv
/_rauman/**/*.csv
/_statistik/**/*.csv
/docs
*.csv
*.gpkg
/_rauman/**/*.tif
/_rauman/**/*.shp
/_rauman/**/*.cpg
/_rauman/**/*.dbf
/_rauman/**/*.prj
/_rauman/**/*.shp.xml
/_rauman/**/*.shx
