Demo_01_Korr_Reg_Beispiel1.R
Demo_01_Korr_Reg_Beispiel2.R
Demo_01_Korr_Reg_Beispiel3.R
Demo_01_Korr_Reg_Beispiel4.R
Demo_02_Polynom_Reg.R
Demo_03_Einfaktorielle_ANOVA_einfach.R
Demo_05_Mehrfaktorielle_ANOVA.R
